/* ------------------------
	Variables
--------------------------*/
/* ------------------------
	Generic Styles
--------------------------*/
body {
  background-color: #000;
}
body,
div,
p,
span,
li,
blockquote,
small {
  color: #fff;
  font-family: 'Source Sans Pro', Helvetica, Arial, Verdana, sans-serif;
  font-size: 16px;
}
header,
section,
footer {
  padding: 60px 0;
}
h1 {
  color: #fff;
  font-weight: 900;
  font-size: 50px;
  font-family: 'Source Sans Pro', Helvetica, Arial, Verdana, sans-serif;
}
h2 {
  color: #ccc;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Source Sans Pro', Helvetica, Arial, Verdana, sans-serif;
  text-transform: uppercase;
}
h3 {
  color: #fff;
  font-weight: 700;
  font-size: 26px;
  font-family: 'Source Sans Pro', Helvetica, Arial, Verdana, sans-serif;
}
.row {
  padding: 30px 0;
}
blockquote {
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
  border-left: 5px solid #db2b39;
}
blockquote small {
  color: #ccc;
  font-weight: 400;
}
a {
  color: #f3a712;
  font-family: 'Source Sans Pro', Helvetica, Arial, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 700;
  transition: all 100ms;
}
a:hover,
a:focus {
  border-bottom: 2px solid #f3a712;
  padding-bottom: 1px;
  text-decoration: none;
  color: #f3a712;
}
/* ------------------------
	Header
--------------------------*/
header {
  background-color: #222;
}
header .block--heading {
  border: 5px solid #db2b39;
  padding-top: 25px;
  padding-bottom: 25px;
}
/* ------------------------
	Section: Intro
--------------------------*/
#intro {
  background-color: #333;
}
/* ------------------------
	Section: Projects
--------------------------*/
#projects {
  background-color: #222;
}
#projects [class*="col"] {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #222;
}
/* ------------------------
	Footer
--------------------------*/
footer {
  background-color: #111;
}
/*-------------------------
	Mobile
---------------------------*/
@media (max-width: 768px) {
  .row {
    padding: 0;
  }
}
